.cart {
    display: flex ;
    background-color: #EAEDED  ;
    min-height: 500px ; 
}
.reverse {
    flex-direction: column-reverse ;
}

.cart-left , .cart-right {
    background-color: white ;
    margin: 20px 20px ;
}
.cart-left {
    flex: .7 ;
    display : flex ;
    align-items: center ;
    padding: 20px ;
}
.cart-left > img {
    object-fit: contain ;
    max-width: 250px ;
    margin: 30px ;
}
.cart-link {
    text-decoration: none ;
    color: #00b8FC ;
    margin: 10px 0px ;
    display: block ;
}
.cart-link:hover {
    text-decoration: underline ;
    color: #00b8FC ;
}
.cart-right {
    flex : .3 ;
    text-align: center ;
    padding: 10px 10px ;
}
.cart-right-total {
    text-align: left ;
    padding: 10px 5px ;
    font-weight: 600 ;
}
.cart-right-total p {
    margin: 10px 0px ;
}
.cart-right-total span {
    font-weight: 700 ;
}
.dashborad {
    padding: 20px 60px ;
    display: flex ;
    justify-content: space-between ; 
    align-items: center ;
}
@media screen and (max-width: 1024px) {
    .cart {
        flex-direction: column-reverse ;
    }
    .cart-left > img {
        max-width: 150px ;
    }
}
@media screen and (max-width: 700px) {
    .cart-left {
        flex-direction: column-reverse ;
    }
    .dashborad {
        flex-direction: row-reverse ;
        justify-content: center ;
        padding: 10px  ;
    }
    .dashborad h3 {
        font-size: 1rem
    }
    .MuiAvatar-root {
        margin-right: 10px ;
        transform: scale(0.6)    ;
        -webkit-transform: scale(0.6)    ;
        -moz-transform: scale(0.6)    ;
        -ms-transform: scale(0.6)    ;
        -o-transform: scale(0.6)    ;
    }
    .empty h1 {
        font-size: 1.3rem ;
    }
}
