.navbar {
    background-color: #131921 ;
    width: 100% ;
    display: flex ;
    align-items: stretch ;
    justify-content : space-evenly ;
    color: white ;
    position: relative ;
}
.navbar-mobile {
    background-color: #131921 ;
    position: fixed ;
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    transition: .3s ease-in-out ;
    .transform: translateX(-100%) ;
    -webkit-transform: translateX(-100%) ;
    -moz-transform: translateX(-100%) ;
    -ms-transform: translateX(-100%) ;
    -o-transform: translateX(-100%) ;
    display: flex ;
    flex-direction: column ;
    min-width: 100% ;
    -webkit-transition: .3s ease-in-out ;
    -moz-transition: .3s ease-in-out ;
    -ms-transition: .3s ease-in-out ;
    -o-transition: .3s ease-in-out ;
    z-index: 100000 ;
    overflow-y : auto ;
    display: none ;
}
.navbar-overlay {
    background-color: black ;
    opacity : .8 ;
    position: fixed ;
    top: 0 ;
    right: 0 ;
    left: 0 ;
    bottom: 0 ;
    z-index: -1 ;
}
.nav-links {
    display: flex ;
    align-items: flex-end ;
    width: 100% ;
    padding: 15px 30px  ;
    color: white ;
    text-decoration: none ;
    position: relative ;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: .4s ease-in-out ;
    -webkit-transition: .4s ease-in-out ;
    -moz-transition: .4s ease-in-out ;
    -ms-transition: .4s ease-in-out ;
    -o-transition: .4s ease-in-out ;
    font-size: 25px ;
    text-transform: UpperCase ;
}
.cart-nav {
    display: flex ;
    align-items: flex-end ;
}
.expand {
    justify-content: space-between ;
}
.expand > .MuiSvgIcon-root {
    font-size: 3rem ;
    transition: .3s ease-in-out ;
    -webkit-transition: .3s ease-in-out ;
    -moz-transition: .3s ease-in-out ;
    -ms-transition: .3s ease-in-out ;
    -o-transition: .3s ease-in-out ;
}
.nav-links > span {
    color: #F69A33 ;
    margin-right: 23px;
    font-weight: bold ;
}
.expand-more > .MuiSvgIcon-root {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.nav-links .MuiSvgIcon-root {
    font-size: 2.5rem ;
    margin-right: 10px ;
}
.nav-open > .nav-links:nth-child(1) {
    transition-delay: .2s ;
}
.nav-open > .nav-links:nth-child(2) {
    transition-delay: .3s ;
}
.nav-open > .nav-links:nth-child(3) {
    transition-delay: .4s ;
}
.nav-open > .nav-links:nth-child(4) {
    transition-delay: .5s ;
}
.navbar-mobile-top {
    display: flex ;
    align-items: baseline ;
    justify-content: space-between ;
    padding: 40px ;
}
.nav-links-container {
    margin-top: 30px ;
}
.navbar-mobile-top > img {
    max-width: 150px ;
    object-fit: contain ;
}
.nav-links-category {
    height: 0px  ;
    overflow: hidden ;
    transition: .4s ease ;
    -webkit-transition: .4s ease ;
    -moz-transition: .4s ease ;
    -ms-transition: .4s ease ;
    -o-transition: .4s ease ;
}
.nav-open > .nav-links {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.nav-links-category > .nav-links {
    transform: none ;
    -webkit-transform: none ;
    -moz-transform: none ;
    -ms-transform: none ;
    -o-transform: none ;
    border-top: none ;
    font-size: 16px ;
    padding-left: 50px ;
}
.navbar-opened {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.link {
    text-decoration : none !important ;
    color : inherit !important ;
}
.navbar > img {
    width: 110px !important ;
    height: 60px !important ;
    object-fit: contain ;
    margin: 5px 0px ;
    margin-left: 20px ;
    cursor: pointer ;
    padding-top: 15px ;
    padding-left: 5px;
    padding-right: 5px ;
    border: 1px solid transparent ;
    transition: border 200ms ease-in-out ;
}
.navbar > img:hover {
    border: 1px solid white ;
}
.message-container {
    position: absolute ;
    top: 70px ;
    z-index: 200 ;
    right: 0 ;
}
.deliver {
    text-decoration: none ;
    color: inherit; 
    margin: 5px 0px ;
    display: flex ;
    flex-direction: column ;
    justify-content: center;
    box-sizing : none ;
    border: 1px solid transparent ;
    text-align: left;
    padding: 0 10px ;
    transition : border .2s ease-in-out ;
    cursor: pointer ;
}
.deliver:hover {
    border: 1px solid white ;
}
.deliver > span {
    font-weight: 400 ;
    font-size: 14px ;
    color: rgb(175, 169, 169) ;
}

.navbar-search {
    flex: 0.8 ;
    align-items: center;
    display: flex;
}
.navbar-search > form {
    width: 100% ;
    display: flex ;
}

.navbar-search input {
    padding: 11.5px 10px ;
    outline: none ;
    border: none ;
    flex: .9 ;
    padding: auto auto ;
}
.deliver-lebanon {
    display: flex ;
    margin: 5px 0px ;
    align-items : flex-end ;
    cursor: pointer ;
    padding: 0 10px ;
    border: 1px solid transparent ;
    transition: border .2s  ease-in-out;
}
.deliver-lebanon:hover {
    border: 1px solid white ;
}
.deliver-leb > span {
    font-weight: 400 ;
    font-size: 14px ;
    color: rgb(175, 169, 169) 
}
.deliver-icon {
    position: relative;
    margin-right: 3px ;
    margin-bottom: -12px ;
}
.deliver-leb {
    display: flex ;
    flex-direction: column ;
}
.navbar-search button {
    margin: 0 ;
    background-color : #F3A847 ;
    flex: .1 ;
    cursor: pointer ;
    border: none ;
    outline: none ;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition : opacity 200ms ease-in-out ;
}
.navbar-search button:hover {
    opacity: .8 ;
}
.deliver > span {
    transition: opacity .3s ease-in-out ;
}
.navbar-login > span {
    font-size: 14px ;
    font-weight: 500;
}
.navbar-cart {
    text-decoration: none ;
    color: inherit ;
    display: flex ;
    align-items: flex-end ;
    margin: 5px 0 ;
    border: 1px solid transparent  ;
    transition: border 200ms ease-in-out ;
    padding: 0 10px;
    cursor: pointer ;
}
.cart-number {
    display: flex ;
    flex-direction: column;
    align-items: center ;
}
.cart-number > strong {
    color: #F07A17 ;
}
.navbar-cart > strong {
    margin-bottom: 3px ;
    margin-left : 3px ;
}
.deliver-lebanon {
    display: flex ;
    align-items: center ;
}
.navbar-cart:hover {
    border: 1px solid white ;
}
.MuiIconButton-label {
    font-size: 20px !important;
}

@media screen and (max-width: 1040px) {
    .deliver {
        display: none ;
    }
    .navbar-cart {
        display: none ;
    }
    .navbar > img {
        margin: 0 ;
        padding: 0 ;
        margin-top: 20px ;
    }
    .deliver-lebanon {
        display : none ;
    }
    .navbar-search button {
        display: none ;
    }
    .navbar-search input {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px ;
    }
    .navbar-search {
        display: none ;
    }
    .navbar {
        align-items: center ;
        justify-content: space-between ;
        position: sticky ;
        top: 0 ;
        right: 0 ;
        left: 0 ;
        z-index: 10000 ;
        padding: 0 40px ;
    }
    .navbar-mobile {
        display: block ;
    }
}
