.product-info {
    flex: .5 !important ;
    display: flex ;
    flex-direction : column ;
    justify-content: flex-start ;
}
.product-info > h1 {
    margin: 7px 0px ;
    font-size: 2.3rem ;
}
.product-info > h2 {
    font-size: 1.2em ;
    margin: 3px 0 ;
}
.product-info > strong {
    font-size: 18px ;
    font-weight : 800 ;
    font-family: 'Open Sans', sans-serif;
}
.product-info > strong span {
    font-weight: 600 ;
}
.skeleton2 {
    margin: 8px 0px ;
}
.search-failed {
    margin: 40px auto ;
    font-weight: 400 ;  
    font-size:17px ; 
    text-align: center ;
}
.product-info  .MuiSvgIcon-root {
    margin-left: -2.5px ;
    margin-top: 3px ;
}
.single-product {
    display: flex ;
    background-color: white ;
    padding: 40px 20px ;
    min-width: calc(100% - 60px);
    
}
.withmargin {
    margin: 20px 30px ;
}

.skeleton {
    margin-left: 50px ;
}
.black  {
    color: white ;
}
.single-product > img {
    height: 300px ;
    object-fit: contain ;
    flex: .5  !important ;
    margin: auto auto ;
    max-width: 300px ;
}
.skeleton1 {
        height: 300px ;
    object-fit: contain ;
    flex: .5  !important ;
    margin: auto auto ;
    max-width: 300px ;
}
.product-link {
    text-decoration: none ;
}
.product-link:hover {
    text-decoration : none ;
}


.product-info .MuiButtonBase-root {
    margin-top: 20px !important ; 
}
@media screen and (max-width: 1024px) {
    .product-info > h1 {
        font-size: 1.8rem ;
    }
    .single-product > img {
        margin: none ;
    }
}
